
:root {
    --main-color: orange;
    --base-color: #ddd;

    --secondary-color: #bbd57d;
/*    --type: "Open Sans, sans-serif;*/

}

/*
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-color);
    box-sizing: border-box;
    background-color: #ddd;
}
*/

h1,
h2,
h3,
h4,
h5,
h6 {
     font-weight: 700;
/*    font: 'Open Sans Condensed', sans-serif;*/
   
}



h2 {
    font-size: 2em;
    text-decoration: underline;
}

h3 {
    flex: 1;
    font-size: 1.5em;
}
/*

header {
    display: flex;
    padding: 5px;
    position: fixed;
    background: var(--main-color);
    width: 100vw;
    height: 40px;
    top: 0;
    box-shadow: 2px 3px 3px rgba(50, 50, 50, 0.5);
}
*/



nav {
    padding: 20px 0px;
    min-width: 400px;
      border-top: 1px solid #aaa;
}

nav a {
    margin: 0 20px 0 0;
/*    color: #222;*/
    text-decoration: none;
    font-weight: 700;
}

nav a:hover {
    color: #ffe10f;

}

p {
    line-height: 1.5em;
}

.container {
    background: white;
}
/*
.container {
    box-shadow: 5px 5px 20px rgba(60, 60, 60, 20);

    margin: 50px auto;
    width: 854px;
    background: var(--base-color);

}
*/

.container a {
    color: var(--main-color);
    box-sizing: border-box;
}

section {

    background: white;
}



#twitch-embed {
    width: 100%;
    margin: 0;
    height; 30vh;
}


.white {
    background: white;
    padding: 10px;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
}

.right img {
    width: 100%;
}

footer {
/*    background: var(--main-color);*/
    height: 90px;
    border-top: 1px solid #aaa;
    
}

footer img {
    width: 50px;
}